.backdrop {
  position: fixed;
  @include centeredFlex(inline-flex);

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);
  transition-duration: 250ms;
  transition-timing-function: $timingFunction;
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.form {
  position: absolute;
  display: block;

  padding: 40px;
  width: 528px;
  height: 581px;

  visibility: visible;
  opacity: 1;

  text-align: center;
  background-color: $primaryWhiteColor;
}

.form__title {
  display: block;

  max-width: 100%;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  color: $titleTextColor;
  margin-bottom: 30px;
}

.form__field {
  @include centeredFlex();
  position: relative;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 28px;

  width: 100%;
}

.form__input {
  display: block;
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
}

.form__input:focus {
  border: 1px solid $accentColor;
  outline: none;
}

.form__icon {
  display: block;
  position: absolute;
  top: 50%;
  left: 18px;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
}

.form__input:focus + .form__icon {
  fill: $accentColor;
}

.form__label {
  display: block;
  position: absolute;

  height: 16px;
  top: 50%;
  transform: translateY(-50%);
  left: 42px;

  transition-duration: 250ms;
  transition-timing-function: $timingFunction;

  line-height: 1.14;
}

.form__input:focus ~ .form__label,
.form__input:not(:placeholder-shown) ~ .form__label {
  transform: translateX(-24px) translateY(-250%);
  color: $accentColor;
}

/*textarea*/

.comment-textarea {
  position: relative;
  display: block;
  width: 100%;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  resize: none;
}

.comment-textarea:focus {
  border: 1px solid $accentColor;
  outline: none;
}

.comment__label {
  position: absolute;
  top: 12px;
  left: 16px;
}

.comment-textarea:focus + .comment__label {
  transform: translateY(-200%);
  color: $accentColor;
}

/*policy*/

.policy-label {
  @include centeredFlex();
  font-size: 14px;
  line-height: 2;
}

.policy-checkbox {
  -webkit-appearance: none;
  appearance: none;
  position: absolute;
}

.checkbox__icon {
  display: inline-block;

  width: 15px;
  height: 15px;

  margin-right: 8px;

  border: 1px solid $titleTextColor;
  background-color: $primaryWhiteColor;

  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  transition-duration: 250ms;
  transition-timing-function: $timingFunction;
}

.policy-checkbox:checked + .checkbox__icon {
  border-color: $accentColor;
  background-color: $accentColor;
  background-origin: border-box;
  background-size: contain;
  background-image: url(../images/index-images/check-1.svg);
}

.conditions-link {
  color: $accentColor;
}

.form__close {
  display: block;
  position: absolute;
  background-image: url(../images/index-images/modal-close-opt.svg);

  background-repeat: no-repeat;
  background-position: center;
  background-color: $primaryWhiteColor;
  border: none;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);

  width: 30px;
  height: 30px;

  top: 8px;
  right: 8px;

  cursor: pointer;
  border-radius: 50%;
}
